/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local('Lato'),
       url("Lato-Regular.woff2") format('woff2'),
       url("Lato-Regular.woff") format('woff'),
       url("Lato-Regular.ttf") format('truetype');
}

body {
  background-color: rgba(249, 249, 249, 1.0);
  font-family: "Lato", "Georgia";
  font-size: 18px;
  text-align: center;
  color: rgba(51, 51, 51, 1.0);
}

p {
  text-align: justify;
}

h1 {
  font-size: 24px;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
  margin: auto;
  display: inline-block;
}

.content ul {
  list-style-type:none;
  padding-left: 0;
}

.content ul li {
  font-style: italic;
}
